:root{
  --wave1:#e3f1ff;
  /* --wave2:#989898;
  --wave3:#c0c0c0;
  --heading:#000000; */
  --wave2:#6831fd;
  /* --wave3:#a9c1fa;
  --heading:#4415b2; */

  /* Royal Blue ----------------------------------*/
    /* --primary-color: #4169E1; 
    --accent-color: #FFD700;
    --background-color: #F0F0F0; 
    --text-color: #333333;  */

  /* Navy Blue and Orange----------------------- */
    /* --primary-color: #001F3F;
    --accent-color: #FF851B;
    --background-color: #FFFFFF;
    --text-color: #1c2400; */

  /* Teal and Coral ----------------------------*/
  /* --primary-color: #008080;
  --accent-color: #FF7F50;
  --background-color: #E0FFFF;
  --text-color: #2F4F4F; */

  /* Dark Purple and Mint Green */
  /* --primary-color: #300053;
  --accent-color: #98FF98;
  --background-color: #FFFFF0;
  --text-color: #bfbfbf; */

  /* Charcoal and Turquoise */
  --primary-color: #36454F;
  --accent-color: #40E0D0;
  --background-color: #D3D3D3;
  --text-color: #FFFFFF;


  /* --wave2:#06b500;
  --wave3:#a9c1fa;
  --heading:#7500b8; */
}
strong{
  color: var(--accent-color);
}
html{
  scroll-behavior:smooth;
}
a{
  text-decoration: none;
  color: var(--wave1);
}

*{
  margin: 0;
  padding: 0;
}
.section{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  overflow: hidden;
  .wave{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 12vh;
    background: url(img/wave.png);
    background-size: 1500px 100px;
  }
  .wave1{
    animation: waves1 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom:0;
  }
  .wave2{
    animation: waves2 27s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom:5px;
  }
  .wave3{
    animation: waves3 30s linear infinite reverse;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom:5px;
  }
  .wave4{
    animation: waves3 20s linear infinite;
    z-index: 997;
    opacity: 0.8;
    animation-delay: -2s;
    bottom:10px;
  }
}
@keyframes waves1 {
  0%{background-position-x:0 ;}
  100%{background-position-x:1000px ;}
}

@keyframes waves2 {
  0%{background-position-x:0 ;}
  100%{background-position-x:-1000px ;}
}
@keyframes waves3 {
  0%{background-position-x:0 ;}
  100%{background-position-x:-1000px ;}
}
@keyframes waves4 {
  0%{background-position-x:0 ;}
  100%{background-position-x:-1000px ;}
}

nav{
  color:var(--wave1) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-weight: bolder;
  padding: 5vh 5vw ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  b{
    color: var(--accent-color) !important;
  }
  ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    li{
      margin: 0 2vw ;
      cursor: pointer;
      transition: 200ms;
    }
    li:hover{
      transform: scale(1.1);
      color: var(--accent-color) !important;
    }
    a:hover{
      color: var(--accent-color) !important ;
    }
  }
}
.front{
  color: var(--background-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  display: flex;
  height: 100%;
  padding: 4vh 5vw ;
  .half{
    width: 50% ;
    b,h1{
      color:var(--text-color);
    }
  }
  .logo{
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 2px 2px black);
    /* align-items: center; */
  }
  section img{
    width:clamp(400px,80%,500px) ;
    margin-bottom: 5vh;
  }
}
b{
  font-weight: bolder;
  font-size: xx-large;
}
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:501px) and ( max-width:1000px) {
  
  .wave{
    transform: translateY(10%) !important;
  }
  .loadingbackground>img{
    position: absolute;
    left: 20% !important;
    width: 60% !important;
    bottom: -3vh !important; 
    animation: boats 3s ease-in-out infinite !important;
  }
  .wave{
    transform: translateY(10%) !important;
  }
  @keyframes boats {
    /* 0%{transform: translate(0,0) ;} */
    20%{transform: translate(30px,25px) rotate(15deg) ; }
    /* 40%{transform: translate(0,0) rotate(0deg);} */
    60%{transform: translate(-40px,35px)  rotate(-10deg);}
    100%{transform: translate(0,0);}
  }
  .front{
    padding: 5vh 2vw;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
    section{
      width:80% !important;
      margin-top: 0px !important;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        align-self: center;
      }
    }
  }
  .half>div{
    display: flex;
    justify-content: center;
  }
  .half>h1{
    text-align: center;
    margin-bottom: 30px;
    }
  .skillsection>section{
    grid-template-columns: 100% !important;
    padding-left: 5%;
    div> h1{
      color:var(--primary-color) !important;
    }
  }
  .themes{
    margin-left: 0 !important;
    transform: translateX(-19%)!important;
    margin-bottom: 30px;
  }
  nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0 !important;
    div{
      transform: translate(0) !important;
      text-align: center ;
      b{
        font-size: 10vh !important;
        color: var(--accent-color);
        }
    }
  }
  parent{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  child{
    grid-template-columns: 100% !important;
    /* align all items in center*/
    div{
      display: flex;
      justify-content: center;      
      img{
        width: 90% !important;
        box-shadow: 0px 0px 10px 0px #a1a1a1;
        border-radius: 30px;
      }
    }
    info{
      padding:20px 10%;
      display: flex;
      flex-direction: column;
      align-items: center; 
      margin-bottom: 10%;
    }
  }
}

/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

.skillsection{
  margin-top: 10vh;
  padding: 3vh 5vw;
  /* width: 50%; */
  background-color: white;
  color: rgb(81, 81, 81);
  section{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10vh;
    div{
      display: grid;
      grid-template-rows:14% 77% 80%;
      h1{
        width: 100%;
        height:auto;
        color: var(--primary-color) !important;
        text-shadow: var(--accent-color) 1px 1px 1px;
      }
      div{
        .progress-bar{
          position: relative;
          display: flex;
        }
      }
      /* grid-template-columns: 50% 50%; */
    }
  }
}
hr{
  border-color: var(--accent-color);
  border-width: 2px;
}
.progress-bar{
  margin:0 0 0 10px;
  height: 19px !important;
  width: 100%;
  display: flex;
  border-radius: 8px;
  background-color: #efefef;
  box-shadow:rgb(9, 0, 0) 0px 1px 2px -1px inset;
  .progress-fill{
    height: 15px;
    background: linear-gradient(45deg,var(--accent-color),var(--wave2));
    border-radius: 8px;
    border:#4415b2 1px solid;
    /* border:#878787 1px solid; */
    box-shadow:rgba(255, 255, 255, 0.545) -1px 2px 0px 0px inset,1px 1px 2px black;
  }
}
.progress-bar > p{
  /* display: none; */
  color: var(--primary-color);
  box-shadow: 0px 0px 4px 0px rgb(99, 99, 99);
  padding: 2px 5px;
  height: 24px;
  border-radius: 10px;
  background-color: white;
  transform: translate(-40%,110%);
  
} 
button{
  margin-top: 5vh;
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  width: clamp(185px, 50%, 500px);
  align-self: center;
  justify-self: center;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  transition: 200ms;
}
button:hover{
  background-color: var(--accent-color);
  color: var(--primary-color);
}

 .progress-bar > p::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent white;
  filter: drop-shadow(-2px 0px 1px rgb(167, 167, 167));
  top: -12px;
  left: 10px;
  transform: rotate(90deg);
}
/* .progress-fill:hover + p{
  animation: fadeIn 500ms;
  display: block;
} */
.added{
  animation: fill 0.7s;
}
@keyframes fill {
  0%{width: 0%;}
}
.description{
  color: grey;
}
@keyframes fadeIn {
  0%{opacity: 0; }
  100%{opacity: 1;}
}

parent{
  display: flex;
  /* width: 100%; */
  flex-direction: column;
}
child{
  display: grid;
  grid-template-columns: 50% 50%;
  width: 95%;
  align-items: center;
  height: auto;
  margin: 2% 0;
  /* border: 2px solid #36454F; */
}

child>div{
  img{
    width: 100%;
    /* margin: 20px; */
    box-shadow: 0px 0px 10px 0px #a1a1a1;
    border-radius: 30px;
  }
}
info{
  padding: 0px 50px;
  h1{
    color:var(--primary-color) !important;
    text-shadow: var(--accent-color) 1px 1px 1px;
    line-height: 34px;
    margin-bottom: 3%;
  }
  p{
    strong{
      color: var(--primary-color);
      text-shadow: var(--accent-color) 1px 1px 1px;
    }
  }
}
icons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  overflow: visible;
  img{
    /* border-radius: 50%; */
    /* mix-blend-mode: multiply; */
    margin-right: 20px;
    margin-bottom: 5px;
    filter: drop-shadow(0px 0px 0.1px black);
  }
}

/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width:500px) {
  .loadingbackground>img{
    position: absolute;
    left: 20% !important;
    width: 70% !important;
    bottom:8vh !important; 
    animation: boats 3s ease-in-out infinite !important;
  }
  @keyframes boats {
    /* 0%{transform: translate(0,0) ;} */
    20%{transform: translate(40px,20px) rotate(10deg) ; }
    /* 40%{transform: translate(0,0) rotate(0deg);} */
    60%{transform: translate(0px,60px)  rotate(-8deg);}
    100%{transform: translate(0,0);}
  }
  
  .wave{
    transform: translateY(10%) !important;
  }
  .front{
    flex-direction: column;
    margin-bottom: 0.5vh;
    align-items: center;
    /* width: 100vw; */
    section{
      padding: 0vh 1vw 5vh 1vw !important;
      width:100% !important;
      margin-top: 0px !important;
      align-items: center;
      justify-content: center;
      img{
        width: 100%;
        align-self: center;
      }
    }
  }
  .half>div{
    display: flex;
    justify-content: center;
    b{
      text-align: center !important;
    }
  }
  .half>h1{
    text-align: center;
    margin-bottom: 30px;
    }
  .skillsection>section{
    grid-template-columns: 100% !important;
    padding-left: 1%;
    width: 100% !important;
    div{
      h1{
        color:var(--primary-color) !important;
      }
    }
  }
  .skillbox{
    width: clamp(200px,95%,720px) !important; 
  }
  .themes{
    margin-left: -15px !important;
    margin-bottom: 20px;
    button{
      margin-top: 10px !important;
    }
  }
  nav{
    display: grid;
    margin-top: 0;
    padding-top: 0;
    /* flex-direction: column !important; */
    /* margin-bottom: 0 !important; */
    /* align-items: center; */
    justify-content: center;
    /* padding-bottom: 0 !important; */
    div{
      transform: translate(0) !important;
      text-align: center ;
      b{
        font-size: 10vh !important;
        color: var(--accent-color);
        }
    }
  }
  parent{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  child{
    grid-template-columns: 100% !important;
    /* align all items in center*/
    div{
      display: flex;
      justify-content: center;      
      img{
        width: 100% !important;
        transform: scale(1.05);
        box-shadow: 0px 0px 10px 0px #a1a1a1;
        border-radius: 30px;
      }
    }
    info{
      padding:20px 1%;
      display: flex;
      flex-direction: column;
      align-items: center; 
      margin-bottom: 10%;
    }
  }
  .description{
    height: fit-content;
    margin-bottom: 20px !important;
  }
}
.skillbox{
  width: clamp(200px,80%,720px); 
}

/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*/
.themes{
  position: relative;
  z-index: 999;
  margin-left: 4%;
  display: flex;
  button{
    margin-left: 8%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .number0{
    background:linear-gradient(45deg,#4B0082,#98FF98);
  }
  .number1{
    background:linear-gradient(45deg,#001F3F,#ff9f4b);
  }
  .number2{
    background:linear-gradient(45deg,#008080,#FF7F50);
  }
  .number3{
    background:linear-gradient(45deg,#4169E1,#FFD700);
  }
  .number4{
    background:linear-gradient(45deg,#36454F,#40E0D0);
  }
}

.loadingbackground{
  background-color: var(--primary-color);
  position: fixed;
  height: 100vh;
  width: 100vw;
  animation: myanimation 3s ease-in-out;
  z-index: 9999999999;
}
.box{
  position: absolute;
  bottom:0;
  height: 100vh;
  width: 100vw;
  z-index: 9999999999;
  color: var(--text-color);
  background-color: var(--text-color);
  transform: translate(0,100vh);
}
.wave11{
  animation: waves1 5s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom:0;
}
.wave22{
  animation: waves2 2s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: 200ms;
  bottom:5px;
}
.wave33{
  animation: waves3 3s linear infinite reverse;
  z-index: 998;
  opacity: 0.2;
  animation-delay: 100ms;
  bottom:5px;
}
.wave44{
  animation: waves3 2s linear infinite;
  z-index: 997;
  opacity: 0.8;
  animation-delay: 300ms;
  bottom:10px;
}
.wave{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  height: 12vh;
  background: url(img/wave.png);
  background-size: 1500px 100px;
}

@keyframes myanimation {
  0%{transform: translateY(0);}
  10%{transform: translateY(0);}
  20%{transform: translateY(-10vh);}
  80%{transform: translateY(-100vh);
  filter: opacity(1);}
  100%{transform: translateY(-100vh);
  filter : opacity(0);}
}
.loadingbackground>img{
  position: absolute;
  left: 25%;
  width: 50%;
  bottom:-2vh;
  animation: boat 3s ease-in-out infinite;
}

@keyframes boat {
  /* 0%{transform: translate(0,0) ;} */
  20%{transform: translate(100px,80px) rotate(15deg) ;}
  /* 40%{transform: translate(0,0) rotate(0deg);} */
  60%{transform: translate(-150px,40px)  rotate(-5deg);}
  100%{transform: translate(0,0);}
}


.contact{
  margin-top: 10vh;
  padding: 3vh 5vw;
  /* width: 50%; */
  background-color: white;
  color: rgb(81, 81, 81);
}
.detail{
  button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-right: 33px;
  }
  div{
    display: flex;
    align-items: center;
    gap: 10px;
    h1{
      font-size: larger;
    }
    p{
      font-size: larger;
    }
  }
}
#myLinks{
  button{
    width: fit-content;
    height: 40px;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    svg{
      transform: scale(2.2);
    }
  }
  button:hover{
    background-color: var(--wave1);
    color: var(--primary-color);
    transition: 500ms ease-in-out;
    svg{
      transform: scale(3.3) !important;
      transition: 250ms ease-in-out;
    }
  }
  #github:hover{
    background-color: var(--wave1);
    color: var(--primary-color);
    transition: 500ms ease-in-out;
    svg{
      transform: scale(2.4) !important;
      transition: 250ms ease-in-out;
    }
  }
}
#aboutmeinfo{
  button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--primary-color);
    width: fit-content;
    padding-right: 33px;
    padding:10px 20px;
    margin-right: 20px;
    margin-top: 20px;
    svg{
      transition: 200ms ease-in-out;
      transform:  scale(1.1);
      padding-left: 10px;
    }
  }
  button:hover{
    background-color: var(--accent-color);
    width: fit-content;
    svg{
      transform: scale(1.2);
      padding-left: 10px;
    }
  }
}
#email{
  svg{
    /* transition: 50ms ease-in-out; */
    /* transform:'translate(50%,15%) scale(1.2)' */
    transform: translate(50%,15%) scale(1.2);
  }
}
#email:hover{
  svg{
    /* transition: 50ms ease-in-out; */
    /* transform:'translate(50%,15%) scale(1.2)' */
    transform: translate(50%,15%) scale(1.45) !important;
    }
}
#resumePreview{
  position: absolute;
  z-index: 9999999999;
  div{
    padding: 1% 2%;
    color:white;
    background-color: #2f2f2f;
    border: #9a9a9a 2px solid;
    width: fit-content;
    transform: translate(0,100%);
    cursor: pointer;
  }
  iframe{
    cursor: move;
    height: clamp(300px,65vh,480px);
    width: clamp(400px,50vw,550px);
  }
}